.branding img {
    width: 110px;
}

#main_content_wrap .columns,
#footer .columns {
    width: auto;
    float: none;
}

.content {
    margin-bottom: 0px;
}

.meta li .field {
    display: inline;
}

header {
  min-height: 71px;
  height: 71px;
}

#heading_wrapper {
    padding: 0;
    margin-top: 29px;
}

#heading_wrapper_after h1,
#heading_wrapper_after h2,
#heading_wrapper_after h3,
#heading_wrapper_after h4,
#heading_wrapper_after h5,
#heading_wrapper_after h6 {
    float: left;
    color: white;
}

.top-bar {
    margin-top: 42px;
}

.slider_wrap {
    padding: 0px;
    margin-top: 0px;
}

#breadcrumbs {
    float: right;
}

#information .four.columns,
#information .eight.columns {
    width: 50%;
}

.twitter-timeline {
    overflow: hidden;
    display: block;
    height: 80px;
}

.timeline {
    border-radius: 0;
}
iframe .stream {
    top: -20px!important;
}

.node div.content div.field {
    font-size: 14px;
    padding: 5px 0px;
}

#information {
    padding-top: 5px;
}

#block-system-main {
  clear: both;
}

#block-menu-menu-call-to-action {
    padding-top: 0px;
}

#block-menu-menu-call-to-action .menu,
#block-menu-menu-call-to-action ul.menu,
#block-menu-menu-call-to-action ul.menu li {
    padding: 0;
    margin: 0;
}

#block-menu-menu-call-to-action ul.menu li {
    list-style-type: none;
}

#block-menu-menu-call-to-action .columns {
    text-align: center;
    float: right;
    clear: left;
}

#block-menu-menu-call-to-action .inner {
    background-color: #8622b1;
    display: block;
    margin: 5px;
    padding: 15px 0;
}

#block-menu-menu-call-to-action .inner:hover {
    background-color: #591bb1;
}

#block-menu-menu-call-to-action a:hover {
    color: white;
}

#block-menu-menu-call-to-action a {
    color: #ded7ff;
    font-size: 22px;
    font-weight: bold;
}

#information .twelve.columns {
    clear: both;
}

#block-views-logos-block {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

#block-views-category-children-block .views-row {
  float: left;
  padding: 4px;
  background-color: rgb(123, 26, 241);
  margin-right: 6px;
  margin-top: 6px;
}

#block-views-category-children-block a,
#block-views-category-children-block a:visited {
  color: #d6d6d6;
  font-weight: bold;
}
#block-views-category-children-block a:hover {
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
    #main_content_wrap,
    #sidebar_wrap {
        width: 100%;
        clear: both;
    }
    #heading_wrapper .columns {
        width: 100%;
    }
    #information .columns,
    #information .four.columns,
    #information .eight.columns {
        width: 100%;
/*
        clear: right;
*/
    }
    .column, .columns {
        padding: 0;
    }
    .row {
        padding: 0 10px;
    }
    .slider_wrap .row {
        padding: 0;
    }
    #sticky_feedback {
        display: none;
    }
    #highlight h2 {
        margin: 0;
    }
    #facts .columns {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
    #block-views-logos-block {
      max-width: 100%;
    }
}

@media screen and (max-width: 351px) {
    #main_content_wrap .columns,
    #footer .columns {
        float: left;
        width: 100%;
    }

    .twitter-timeline {
        height: 110px;
    
        margin: 0 auto;
        float: none;
        position: relative;
}
}

@media screen and (min-width: 500px) {
    #main_content_wrap .columns,
    #footer .columns {
        float: left;
        width: 50%!important;
        padding: 6px;
        clear: none;
    }
    #block-menu-menu-call-to-action .columns {
        width: 50%;
    }
    #block-menu-menu-call-to-action {
        clear: both;
    }
    #block-menu-menu-call-to-action .inner {
        margin: 9px;
    }
}

@media screen and (min-width: 700px) {
    #main_content_wrap .columns,
    #footer .columns {
        float: left;
        width: 33%!important;
        clear: none;
    }
    #block-menu-menu-call-to-action .columns {
        clear: none;
        width: 50%;
    }
}

@media screen and (min-width: 940px) {
    #front_slide {
        min-height: 360px;
    }
    .branding img {
        width: 170px;
    }
    #main_content_wrap .columns,
    #footer .columns {
        float: left;
        clear: none;
        width: 25%!important;
    }
    #block-menu-menu-call-to-action .columns {
        clear: none;
        width: 25%;
    }
}

@media screen and (max-width: 940px) {
    #heading_wrapper {
        padding: 0;
        margin: 0;
    }
}

html body.admin-menu {
   margin-top: 0px !important;
   margin-bottom: 20px !important;
}
html body.admin-menu > #main_wrapper {
    padding-top: 30px;
}

#highlight {
    z-index: 990;
    position: relative;
    margin-top: 12px;
    margin-bottom: -25px;
}

#highlight h2 {
    text-align: center;
}

.sharerich-wrapper {
    clear: both;
    padding: 10px 0;
}

.view-display-id-block .views-row {
    /* float: left; */
}

.view-category-hub .view-content {

}

#block-views-recent-content-block h1, 
#block-views-recent-content-block h2, 
#block-views-recent-content-block h3, 
#block-views-recent-content-block h4, 
#block-views-recent-content-block h5, 
#block-views-recent-content-block h6 {
    margin: 0;
}

#block-views-recent-content-block .views-row {
    width: 250px;
    /*height: 370px;*/
    float: left;
    overflow: hidden;
    padding: 0 10px 0 0;
}

#block-views-recent-content-block .views-row .recent-content {
    border: 1px solid rgba(128, 128, 128, 0.22);
    padding: 0px;
    margin: 0;
    -webkit-box-shadow: #c7c7c7 1px 1px 4px;
    -moz-box-shadow: #c7c7c7 1px 1px 4px;
    box-shadow: #c7c7c7 1px 1px 4px;
    height: 370px;
}

#block-views-recent-content-block .views-row .recent-content .image {
    margin-top: -15px;
    padding: 1px;
}

#block-views-recent-content-block .views-row .recent-content .content {
    padding: 4px;
}

#block-views-recent-content-block .views-row a.full-link {
    display: block;
    height: 355px;
    top: -355px;
    position: relative;
}

#block-views-recent-content-block .views-row .recent-content:hover {
    -webkit-box-shadow: #c7c7c7 1px 1px 4px;
    -moz-box-shadow: #c7c7c7 1px 1px 4px;
    box-shadow: #c7c7c7 1px 1px 4px;
    opacity: .8;
}

#block-views-recent-content-block .views-row h3 {
    height: 55px;
    overflow-y: hidden;
}

#block-views-recent-content-block .views-row .field-name-body {
    height: 50px;
    overflow-y: hidden;
}

#block-views-recent-content-block .carousel_navigation i {
    font-size: 35px;
    float: left;
    margin: 8px 10px 0px 0px;
    color: #222;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#block-views-recent-content-block .content .meta {
  margin: -2px 0px 10px 0px;
  font-size: 11px;
  overflow: hidden;
  height: 24px;
}

#footer_tweet {
    margin-top: 6px;
}

.view-testimonials .field-name-body {
    height: 180px;
    overflow-y: hidden;
}

.view-id-recent_content {
    max-height: 460px;
    /* overflow-y: hidden; */   
}

.webform-client-form select {
    width: inherit;
}

/* Facts */
#facts {
  padding: 25px 0px;
  margin-bottom: 2px;
}

#facts i {
  font-size: 35px;
  float: left;
  margin: 8px 10px 0px 0px;
  color: #222;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#facts i a {
  color: #222;
}

.services_text {
  text-align: center;
}

#facts h3 {
  font-size: 20px;
  margin: 8px 0px 10px 0px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

#facts p {
  font-size: 16px;
  color: #666;
  margin-bottom: 0px;
}

#facts .content {
  margin-bottom: 0px;
}

#facts br {
  display: none;
}
