.view-display-id-large_banner h1,
.view-display-id-large_banner h2,
.view-display-id-large_banner h3,
.view-display-id-large_banner h4,
.view-display-id-large_banner h5 {
    margin: 0;
}

.view-display-id-large_banner .views-slideshow-controls-bottom {
    position: absolute;
    top: 46%;
    z-index: 100;
    width: 100%;
}

.view-display-id-large_banner .views_slideshow_controls_text_previous {
    padding-left: 6px;
    float: left;
    position: relative;
    top: 0px;
}

.view-display-id-large_banner .views_slideshow_controls_text_next {
    padding-right: 3%;
    float: right;
    position: relative;
    top: -14px;
}

.view-display-id-large_banner .views_slideshow_controls_text_previous a,
.view-display-id-large_banner .views_slideshow_controls_text_pause a,
.view-display-id-large_banner .views_slideshow_controls_text_next a {
    color: rgba(255, 255, 255, 0);
    content: "";
    padding: 0;
    margin: 0;
}

.view-display-id-large_banner .views_slideshow_controls_text_previous a:before,
.view-display-id-large_banner .views_slideshow_controls_text_next a:after {
    font-family: FontAwesome;
    font-size: 43px;
    font-weight: 100;
    /*border: 1px solid lightgray;*/
    border-radius: 20px;
    width: 40px;
    display: block;
    height: 40px;
    background-color: rgba(237, 237, 237, 0.25);
    color: white;
}

.view-display-id-large_banner .views_slideshow_controls_text_previous:hover,
.view-display-id-large_banner .views_slideshow_controls_text_next:hover {

}

.view-display-id-large_banner .views_slideshow_controls_text_previous a:before {
    content: "\f053";
    padding-top: 18px;
    padding-left: 6px;
}

.view-display-id-large_banner .views_slideshow_controls_text_next a:after {
    content: "\f054";
    padding-top: 18px;
    padding-left: 13px;
}

@media only screen and (max-width: 845px) {
    .view-display-id-large_banner .views_slideshow_controls_text_previous a:before,
    .view-display-id-large_banner .views_slideshow_controls_text_next a:after {
        color: rgba(237, 237, 237, 0.55);
    }
    .view-display-id-large_banner .views_slideshow_controls_text_next {
        padding-right: 2%;
    }
}