#footer {
    background-color: #373737;
}

#footer h2 {
    color: rgb(174, 174, 174);
    font-size: 20px;
    font-weight: bolder;
}

#block-alo-physio-footer-footer-social li {
    margin-left: 0;
    margin-right: 3px;
}
#block-alo-physio-footer-footer-social h2 {
    float: left;
    margin: 0;
}
#block-alo-physio-footer-footer-social .social:before {
    font-size: 20px;
}

#footer p {
    color: rgb(174, 174, 174);
}

#footer a {
    color: rgb(231, 175, 244);
    /* clear: both; */
}

#block-alo-physio-footer-footer-social {
    clear: left;
    background: rgb(73, 73, 73);
    padding: 1px 5px 0px 6px;
}

#block-alo-physio-footer-footer-social li a {
    color: rgb(207, 207, 207);
}
