@media screen and (min-width: 1000px) {

    .top-banner {
        width: 960px;
    }

    .sidebar {
        margin: 0;
        padding: 0 4px 0 4px;
        width: 220px!important;
    }

    .two-sidebars #center {
        width: 50%!important;
    }

}

