
@media screen and (min-width: 300px) {
    p {
        text-align: justify;
        margin: 1em 0;
    }

    body {
        background-image: none!important;
        font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
        line-height: 150%;
    }

    a,
    a:link,
    a:visited {
        color: #27638C;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: #9c09cf;
    }

    h2.title a {
        color: #000;
    }

    ul.menu {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: square;
    }

    #primaryMenu ul.menu li a:hover, #primaryMenu ul.menu li:hover, #primaryMenu ul.menu li a:focus, #primaryMenu ul.menu li a.active, #primaryMenu ul.menu li.active-trail {
        background: none;
    }

    #primaryMenu ul.menu li {
        border: none;
    }

    .item-list ul li {
        margin: 0 0 4px 4px;
        padding: 0;
    }

    blockquote {
        color: #5A6A78;
        margin: 10px 0;
        background: #F0F0F0;
        border-left: 4px solid #944FA1;
        color: #333;
        margin: 25px 0 25px 20px;
        padding: 5px 10px;
        font-style: italic;
    }

    h1.title {
        border-bottom: 1px solid #D6DDB9;
        clear: left;
        font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
        font-size: 183.3%;
        font-weight: bold;
        line-height: 120%;
        margin-bottom: 5px;
        color: #56565A;
    }

    #headerWrapper {
        background-color: #fff;
        height: 40px;
        box-shadow: 0px 1px 50px #5E5E5E;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1000;
    }

    #siteName {
        min-height: 25px!important;
        height: 30px;
        top: -2px;
        position: absolute;
    }

    #siteName img#logo {
        max-height: 35px;
    }

    .font-sizes {
        position: absolute;
        text-align: right;
        top: 11px;
        right: 17px;
        width: 44px!important;
    }
    .font-size-small {
        font-size: 1.2em;
    }
    .font-size-medium {
        font-size: 1.5em;
    }
    .font-size-large {
        font-size: 1.9em;
    }

    #inner {
        float: left;
        margin: 0 0 5px;
        padding: 0;
        top: 14px;
        position: relative;
    }

    #topMenu {
        margin: 0;
        padding: 0;
        text-align: right;
    }

    #admin-menu,
    #secondary-menu {
        display: none;
    }

    #content .content {
        margin: 5px 0;
        padding: 6px;
    }

    #contentWrapper {
        background: #fff;
        border-bottom: 5px solid #944FA1;
        float: left;
        margin: 0;
        padding: 0;
        background-image: -webkit-linear-gradient(top, rgb(228, 237, 194) 0px, rgb(245, 247, 231) 55px, rgb(245, 247, 231) 100px);
    }

    #siteInfo {
        height: 1px;
        overflow: hidden;
    }

    .block .content,
    .sidebar .block .content,
    .blockregion .block .content {
        padding: 6px;
        background: #fffeff;
        background-color: #fffeff;
        background: #ffffff;
    }

    .region-search-box,
    .sidebar h2,
    .block h2,
    #sidebar_first h2,
    #sidebar_first .even h2,
    #sidebar_first .odd h2,
    #sidebar_last h2,
    #sidebar_last .even h2,
    #sidebar_last .odd h2,
    .blockregion .block h2 {
        background: none;
        background-color: #944FA1!important;
        color: white;
        margin: 0;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        text-align: right!important;
        text-shadow: 1px 1px #545454;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .block, #block-system-main .node {
        background: #fff;
    }

    #content h2 {
        background: none;
        text-align: left;
        background-color: white!important;
        color: black;
        font-weight: normal;
        font-size: 20px;
        text-shadow: none;
    }

    .blockregion .block .content {
        margin: 0;
        min-height: 0;
        min-width: 200px;
        padding: 5px;
    }

    #siteTitle a {
        height: 0;
        overflow: hidden;
    }

    #mission {
        background: none repeat scroll 0 0 #fff;
        color: #333333;
    }

    #menuLeft, #menuRight {
        background: none;
    }

    #preface_top {
        width: 100%!important;
    }

    .block {
        margin: 0 0 10px;
        color: #666;
        padding: 4px;
        position: relative;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #999;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-box-shadow: 0px 0px 3px #999;
        -webkit-box-shadow: 0px 0px 3px #999;
    }

    #menu-icon {
        color: #000;
        background: none;
        position: relative;
        height: 18px;
        top: 0px!important;
        margin: 0!important;
        font-family: serif;
        font-size: x-large;
        text-align: left;
        margin: 0;
        padding: 0;
        left: -24px!important;
    }
    #menu-icon:hover {
        color: darkcyan;
    }

    #primaryMenu.active ul.menu, #primaryMenu.active ul.menu ul.menu, #primaryMenu ul.menu ul.menu ul.menu, #primaryMenu ul.menu ul.menu ul.menu ul.menu, #primaryMenu ul.menu ul.menu ul.menu ul.menu ul.menu, #primaryMenu ul.menu ul.menu ul.menu ul.menu ul.menu, ul.menu, #primaryMenu.active ul.menu li, #primaryMenu.active ul.menu ul.menu li, #primaryMenu.active ul.menu li a {
        background: none;
        top: 0;
    }

    #primaryMenu {
        /*top: 20px;
        position: fixed;*/
	margin: 0px 0 -9px 0 !important;
    }

    #primaryMenu.active ul,
    #primaryMenu.active ul li,
    #primaryMenu.active ul li a {
        background-color: black!important;
    }

    #primaryMenu ul li.leaf,
    #primaryMenu ul li.expanded,
    #primaryMenu ul li.last {
        margin-left: 5px;
        /*width: 90%!important;*/
    }

    #primaryMenu ul.menu {
        top: 35px;
    }

    #primaryMenu ul.menu li.expanded ul {
        margin: 0px!important;

    }

    #primaryMenu ul.menu li.expanded>a:after {
        content: ">";
        float: right;
        font-family: cursive;
    }

    #primaryMenu ul li.expanded ul.menu li {
        /*margin-left: 15px;
        width: 90%!important;*/
    }
    #primaryMenu a {
        white-space: nowrap;
        overflow: hidden;
    }
    #primaryMenu ul.menu li {
        border-bottom: 1px solid #444!important;
        /*line-height: 20px!important;*/
    }
    #primaryMenu ul.menu ul.display-none {
        display: none!important;
    }
    #primaryMenu ul li.expanded ul li.last.leaf {
        /*border-bottom: none!important;*/
    }

    #primaryMenu ul.menu li a,
    #primaryMenu ul.menu li a:link,
    #primaryMenu ul.menu li a:visited {
        color: #a7a7a7!important;
        display: block!important;
        padding: 7px!important;
        position: relative!important;
    }

    .top-banner {
        height: 1px;
        overflow: hidden;
    }

    .form-submit, input[type="submit"], input.form-submit {
        background: #944FA1;
        color: #fff;
        margin: 1px;
        padding: 9px;
        -webkit-appearance: none;
        text-align: center;
        font-size: 16px;
    }

    .view-display-id-large_banner {
        border-radius: 0px;
        box-shadow: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-box-shadow: 0px;
        -webkit-box-shadow: 0px;
        margin: 0;
        padding: 0;
    }

    .top-banner .text {
        position: relative;
        top: 40px;
        left: 55px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        font-size: xx-large;
        line-height: normal;
        font-weight: normal;
        text-decoration: none;
        width: 308px;
        height: auto;
        display: block;
        color: white;
    }

    .top-banner img {
        position: relative;
        right: -360px;
        top: -120px;
    }

    #block-alo_physio_survey-survey {
        height: 0;
        position: absolute;
        top: 0;
        overflow: hidden;
    }

    #block-sharerich-sharerich,
    #block-sharerich-sharerich .content {
        background: none;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        width: 100%
    }

    .block-icon {
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 48px;
        z-index: 100;
    }

    #block-block-tecar-therapy .block-icon {
        background: url(images/icons/icon-tecar.png) no-repeat 0 50%;
    }

    #block-block-contact-us .block-icon {
        background: url(images/icons/icon-notepad.png) no-repeat 0 50%;
    }

    #block-menu_block-about-us .block-icon {
        background: url(images/icons/icon-star.png) no-repeat 0 50%;
    }

    #block-menu_block-our-team .block-icon {
        background: url(images/icons/icon-doctor.png) no-repeat 0 50%;
    }

    #block-alo_physio_survey-survey {
        height: 0px;
        margin: 0;
        border: 0;
        padding: 0;
    }

    .view-testimonials .views-field.views-field-title {
        margin-top: -24px;
        position: relative;
        display: block;
        float: right;
    }

    .field-name-field-photo img, .views-field-field-photo img {
        float: right;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .rrssb-buttons.small-format li {
        background: none;
        display: block;
        list-style: none;
        list-style-image: none;
        margin: 0 2px!important;
        padding-left: 1px;
    }

    .field-name-field-ailment .field-item {
        float: left;
        border: none;
        background: #00abd2;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin: 2px;
        padding: 4px;
        color: white;
        width: auto;
    }
    .field-name-field-ailment .field-item:hover {
        background: #408dd2;
    }

    .region-footer-bottom {
        position: relative;
    }

    /* Insurances */

    #block-boxes-insurances {
        display: block;
        width: 99%!important;
        margin-left: auto;
        clear: both;
        background: white;
        padding: 0;
        margin: 0 5px 10px 0;
        height: auto;
        position: relative;
        float: left;
        clear: both;
    }

    li.insurance {
        height: auto;
        display: block;
        position: relative;
        width: 100px;
        float: left;
        padding: 5px;
        padding-left: 20px;
        list-style-image: none;
        list-style: none;
        background-repeat: no-repeat;
    }

    li.insurance.bupa {
        background-image: url("images/insurances/bupa-100.png");
        height: 45px;
    }

    li.insurance.pruhealth {
        background-image: url("images/insurances/pruhealth-100.png");
        height: 45px;
    }

    li.insurance.cigna {
        background-image: url("images/insurances/cigna-100.png");
        height: 45px;
    }

    li.insurance.nuffield {
        background-image: url("images/insurances/nuffield-100.png");
        height: 45px;
    }

    li.insurance.axa {
        background-image: url("images/insurances/axa-100.png");
        height: 45px;
    }

    li.insurance.simply-health {
        background-image: url("images/insurances/simply-health-100.png");
        height: 45px;
    }

    li.insurance.aviva {
        background-image: url("images/insurances/aviva-100.png");
        height: 45px;
    }

}

